<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Codeial / <%= title %> </h1>
    </body>
    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="" id="new-post-form" method = "POST">
            <textarea name="content" id="" cols="30" rows="3" placeholder="What's in your mind?">
                
            </textarea>
            <input type="submit" value="Post">
        </form>
    </section>
</html>