<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/user_profile.css">
</head>

<body>
    <p>User Name <%= user.name %></p>
    <p>User Email <%= user.email %></p>

</body>

</html>