*{
    margin: 0;
}
header{
    display: inline-flex;
    // background-color: rgb(57, 57, 243);
    width: 100%;
    height: 7%;
    justify-content: space-between;
    margin : 0; 
    // padding: 0 10px;
    background: #2196f3;
    color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;

    p{
        font-family: sans-serif;
        font-weight: 900;
        color: rgb(255, 255, 255);
        font-size: larger;
        margin-left: 3%;
        margin-top:15px;
        cursor: pointer;
        span{
            color:white;
            transition: all 0.5s ease-in-out;
        }
        span:hover{
            
            color:greenyellow;
            
        }
    }
    li{
        display: inline-flex;
        a{
            color: rgb(168, 224, 231);
            text-decoration: none;
            font-family: sans-serif;
            margin-right: 0.3rem;
            transition: all 0.5s ease-in-out;
            margin-top: 15px;
        }
        a:hover{
            font-size: 1.05rem;
            color:white;
        }
    }
}