body{
    background-color: rgb(194, 166, 166);
    p{
        font-family: sans-serif;
        font-size: larger;
        font-weight: bolder;
        text-align:center;
        margin-top: 2%;
    }
}